body {
  text-align: center;
  font-family: Helvetica, Verdana, sans-serif;
  max-width: 45em;
  padding: 1em;
  margin: 3em auto;
}

body, input, button {
  font-size: 20px;
}

a {
  text-decoration: none;
}

h1 {
  margin-bottom: 1.4em;
}

main {
  border: 1px solid black; 
}

#outcome {
  display: inline-block;
  width: 45%;
  margin: calc(245px/2) auto;
  vertical-align: top;
  font-size: 1.5em;
  font-weight: bold;
}

.codelink {
  margin-top: 1.5em;  
  font-size: 1.15em;
  font-weight: bold;
}

#guess_area {
  margin: 40px auto;
}

.letter {
  font-size: 1.5em;
  text-decoration: underline;
}

.error {
  color: red;
}

canvas {
  display: inline-block;
  width: 45%;
  margin-bottom: 2em;
}

@media only screen and (max-width: 765px) {
  .letter {
    font-size: 1.2em;
  }

  body, input, button {
    font-size: 15px;
  }
}

@media only screen and (max-width: 574px) {
  .letter {
    font-size: 1em;
  }

  body, input, button {
    font-size: 12px;
  }
}